@font-face {
  font-family: ReithBold;
  src: url(./styles/ReithSans_W_Bd.woff); }

@font-face {
  font-family: ReithLight;
  src: url(./styles/ReithSans_W_Lt.woff); }

body {
  background-color: #f3f3ee; }

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ReithBold; }

#bbcConnectedLogo {
  margin: -60px;
  margin-left: 120px; }

.currentSong {
  color: green; }

.cover {
  height: 20vw;
  width: 20vw;
  margin-top: -80px;
  margin-left: -50px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .cover .coverImage {
    height: 40%; }

.playerContainer {
  display: flex;
  width: 60%;
  padding: 20px;
  background-color: white;
  border-radius: 25px; }

.playlistPlayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%; }

.playlistContainer .track {
  margin-bottom: 8px;
  display: flex;
  flex-flow: wrap; }

.playlistContainer .artist {
  margin-right: 20px; }

.playlistContainer .title {
  font-family: ReithLight; }

.audioPlayer {
  height: 30%;
  display: flex;
  align-items: center; }
  .audioPlayer .controllerButton {
    height: 54px;
    width: 54px;
    border-radius: 20px; }

.radioControllers {
  display: flex;
  flex-direction: column;
  width: 30%; }

.playerContainer,
.cover {
  border: 1px solid #ccc; }

.playlistContainer {
  padding: 20px;
  padding-top: 0px;
  height: 70%; }

.radioButtonContainer {
  margin-left: 10%;
  margin-top: 2%; }

button.selectRadio {
  width: 78%;
  height: 50px;
  margin-top: 7%;
  margin-right: 5%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: reithBold;
  font-size: 20px; }
  button.selectRadio:hover {
    color: white !important; }
    button.selectRadio:hover svg.gel-icon-iplayer-radio {
      fill: white !important; }

button#BBC1 {
  color: #343948;
  border: 2px solid #343948; }
  button#BBC1 svg.gel-icon-iplayer-radio {
    fill: #343948; }
  button#BBC1:hover {
    background-color: #343948; }

button#BBC2 {
  color: #fb5b46;
  border: 2px solid #fb5b46; }
  button#BBC2 svg.gel-icon-iplayer-radio {
    fill: #fb5b46; }
  button#BBC2:hover {
    border: 5px solid #fb5b46;
    background-color: #fb5b46; }

button#BBC3 {
  color: #cc3040;
  border: 2px solid #cc3040; }
  button#BBC3 svg.gel-icon-iplayer-radio {
    fill: #cc3040; }
  button#BBC3:hover {
    background-color: #cc3040; }

button#BBC6 {
  color: #29666e;
  border: 2px solid #29666e; }
  button#BBC6 svg.gel-icon-iplayer-radio {
    fill: #29666e; }
  button#BBC6:hover {
    background-color: #29666e; }

svg.gel-icon-iplayer-radio {
  width: 16%;
  margin-right: 15px; }
