@font-face {
  font-family: ReithBold;
  src: url(./styles/ReithSans_W_Bd.woff); }

@font-face {
  font-family: ReithLight;
  src: url(./styles/ReithSans_W_Lt.woff); }

body {
  background-color: #f3f3ee; }

button:focus {
  outline: none; }

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ReithBold; }

#bbcConnectedLogo {
  margin: -60px;
  margin-left: 120px; }

.cover {
  height: 20vw;
  width: 20vw;
  min-width: 180px;
  max-width: 300px;
  min-height: 180px;
  max-height: 300px;
  margin-top: -80px;
  margin-left: -50px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .cover .coverImage {
    height: 40%; }

.playerContainer {
  display: flex;
  width: 60%;
  min-width: 550px;
  max-width: 1000px;
  padding: 20px;
  background-color: white;
  border-radius: 25px; }

.playlistPlayerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%; }

.playlistContainer {
  padding: 20px;
  padding-top: 0px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .playlistContainer .track {
    font-size: 1.4vw;
    margin-bottom: 8px;
    display: flex;
    flex-flow: wrap;
    font-size: 18px; }
    @media only screen and (max-width: 1200px) {
      .playlistContainer .track {
        font-size: 15px; } }
    @media only screen and (min-width: 1800px) {
      .playlistContainer .track {
        font-size: 20px; } }
    .playlistContainer .track.currentSong {
      background-color: #f1f3f4;
      margin-left: -10px;
      border-radius: 10px;
      padding: 3px 10px; }
  .playlistContainer .artist {
    margin-right: 20px; }
  .playlistContainer .title {
    font-family: ReithLight; }

.audioPlayer {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%; }
  .audioPlayer audio {
    width: 70%; }
  .audioPlayer .controllerButton {
    height: 54px;
    width: 54px;
    border-radius: 20px;
    border: none;
    background-color: #f1f3f4; }
    .audioPlayer .controllerButton svg {
      width: 80%; }

.radioControllers {
  display: flex;
  flex-direction: column;
  width: 30%; }

.playerContainer,
.cover {
  border: 1px solid #ccc; }

.radioButtonContainer {
  margin-left: 5%;
  margin-top: 2%; }

button.selectRadio {
  width: 78%;
  max-width: 200px;
  height: 50px;
  margin-top: 7%;
  margin-right: 5%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: reithBold;
  font-size: 20px; }
  button.selectRadio svg.gel-icon-iplayer-radio {
    width: 16%;
    margin-right: 15px; }
  button.selectRadio:hover, button.selectRadio.selectedRadio {
    color: white !important; }
    button.selectRadio:hover svg.gel-icon-iplayer-radio, button.selectRadio.selectedRadio svg.gel-icon-iplayer-radio {
      fill: white !important; }

button#BBC1 {
  color: #343948;
  border: 2px solid #343948; }
  button#BBC1 svg.gel-icon-iplayer-radio {
    fill: #343948; }
  button#BBC1:hover, button#BBC1.selectedRadio {
    background-color: #343948; }

button#BBC2 {
  color: #e68339;
  border: 2px solid #e68339; }
  button#BBC2 svg.gel-icon-iplayer-radio {
    fill: #e68339; }
  button#BBC2:hover, button#BBC2.selectedRadio {
    background-color: #e68339; }

button#BBC3 {
  color: #d73d36;
  border: 2px solid #d73d36; }
  button#BBC3 svg.gel-icon-iplayer-radio {
    fill: #d73d36; }
  button#BBC3:hover, button#BBC3.selectedRadio {
    background-color: #d73d36; }

button#BBC6 {
  color: #417881;
  border: 2px solid #417881; }
  button#BBC6 svg.gel-icon-iplayer-radio {
    fill: #417881; }
  button#BBC6:hover, button#BBC6.selectedRadio {
    background-color: #417881; }
