$beige: #f3f3ee;
$bbc1: #343948;
$bbc1Light: #34394854;
$bbc2: #e68339;
$bbc2Light: #fb5b4647;
$bbc3: #d73d36;
$bbc3Light: #cc304057;
$bbc6: #417881;
$bbc6Light: #29666e61;
$audioPlayerGrey: #f1f3f4;

@mixin radioButtonColor($radioColor) {
  color: $radioColor;
  border: 2px solid $radioColor;
  svg.gel-icon-iplayer-radio {
    fill: $radioColor;
  }
  &:hover,
  &.selectedRadio {
    background-color: $radioColor;
  }
}

@font-face {
  font-family: ReithBold;
  src: url(./styles/ReithSans_W_Bd.woff);
}

@font-face {
  font-family: ReithLight;
  src: url(./styles/ReithSans_W_Lt.woff);
}

body {
  background-color: $beige;
}

button:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ReithBold;
}

#bbcConnectedLogo {
  margin: -60px;
  margin-left: 120px;
}

.cover {
  height: 20vw;
  width: 20vw;
  min-width: 180px;
  max-width: 300px;
  min-height: 180px;
  max-height: 300px;
  margin-top: -80px;
  margin-left: -50px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .coverImage {
    height: 40%;
  }
}

.playerContainer {
  display: flex;
  width: 60%;
  min-width: 550px;
  max-width: 1000px;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
}

.playlistPlayerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.playlistContainer {
  padding: 20px;
  padding-top: 0px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .track {
    font-size: 1.4vw;
    margin-bottom: 8px;
    display: flex;
    flex-flow: wrap;
    font-size: 18px;
    @media only screen and (max-width: 1200px) {
      font-size: 15px;
    }
    @media only screen and (min-width: 1800px) {
      font-size: 20px;
    }
    &.currentSong {
      background-color: $audioPlayerGrey;
      margin-left: -10px;
      border-radius: 10px;
      padding: 3px 10px;
    }
  }
  .artist {
    margin-right: 20px;
  }
  .title {
    font-family: ReithLight;
  }
}

.audioPlayer {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  audio {
    width: 70%;
  }
  .controllerButton {
    height: 54px;
    width: 54px;
    border-radius: 20px;
    border: none;
    background-color: $audioPlayerGrey;
    svg {
      width: 80%;
    }
  }
}

.radioControllers {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.playerContainer,
.cover {
  border: 1px solid #ccc;
}

.radioButtonContainer {
  margin-left: 5%;
  margin-top: 2%;
}

button {
  &.selectRadio {
    width: 78%;
    max-width: 200px;
    height: 50px;
    margin-top: 7%;
    margin-right: 5%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: reithBold;
    font-size: 20px;
    svg.gel-icon-iplayer-radio {
      width: 16%;
      margin-right: 15px;
    }
    &:hover,
    &.selectedRadio {
      color: white !important;
      svg.gel-icon-iplayer-radio {
        fill: white !important;
      }
    }
  }
  &#BBC1 {
    @include radioButtonColor($bbc1);
  }
  &#BBC2 {
    @include radioButtonColor($bbc2);
  }
  &#BBC3 {
    @include radioButtonColor($bbc3);
  }
  &#BBC6 {
    @include radioButtonColor($bbc6);
  }
}
