$beige: #f3f3ee;

@font-face {
  font-family: Reith;
  src: url(./styles/ReithSans_W_Bd.woff);
}

body {
  background-color: $beige;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Reith;
}

#bbcConnectedLogo {
  margin: -50px;
}

.currentSong {
  color: green;
}

.cover {
  height: 20vw;
  width: 20vw;
  margin-left: -40px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .coverImage {
    height: 40%;
  }
}

.playerContainer {
  display: flex;
  width: 60%;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
}

.playlistPlayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.playlistContainer {
  div {
    margin-bottom: 8px;
  }
}

.controllers {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.playerContainer,
.cover {
  border: 1px solid #ccc;
}

.playlistContainer {
  padding: 20px;
  padding-top: 0px;
  height: 80%;
}

//improve
.button {
  margin-top: 10px;
}
