$beige: #f3f3ee;
$bbc1: #343948;
$bbc1Light: #34394854;
$bbc2: #fb5b46;
$bbc2Light: #fb5b4647;
$bbc3: #cc3040;
$bbc3Light: #cc304057;
$bbc6: #29666e;
$bbc6Light: #29666e61;
$audioPlayerGrey: #f1f3f4;

@font-face {
  font-family: ReithBold;
  src: url(./styles/ReithSans_W_Bd.woff);
}

@font-face {
  font-family: ReithLight;
  src: url(./styles/ReithSans_W_Lt.woff);
}

body {
  background-color: $beige;
}

button:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ReithBold;
}

#bbcConnectedLogo {
  margin: -60px;
  margin-left: 120px;
}

.cover {
  height: 20vw;
  width: 20vw;
  min-width: 180px;
  min-height: 180px;
  margin-top: -80px;
  margin-left: -50px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .coverImage {
    height: 40%;
  }
}

.playerContainer {
  display: flex;
  width: 60%;
  min-width: 550px;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
}

.playlistPlayerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.playlistContainer {
  .track {
    margin-bottom: 8px;
    display: flex;
    flex-flow: wrap;
    &.currentSong {
      background-color: $audioPlayerGrey;
      margin-left: -10px;
      border-radius: 10px;
      padding: 3px 10px;
    }
  }
  .artist {
    margin-right: 20px;
  }
  .title {
    font-family: ReithLight;
  }
}

.audioPlayer {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  audio {
    width: 70%;
  }
  .controllerButton {
    height: 54px;
    width: 54px;
    border-radius: 20px;
    border: none;
    background-color: $audioPlayerGrey;
    svg {
      width: 80%;
    }
  }
}

.radioControllers {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.playerContainer,
.cover {
  border: 1px solid #ccc;
}

.playlistContainer {
  padding: 20px;
  padding-top: 0px;
  height: 80%;
}

.radioButtonContainer {
  margin-left: 5%;
  margin-top: 2%;
}

button {
  &.selectRadio {
    width: 78%;
    height: 50px;
    margin-top: 7%;
    margin-right: 5%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: reithBold;
    font-size: 20px;
    &:hover {
      color: white !important;
      svg.gel-icon-iplayer-radio {
        fill: white !important;
      }
    }
  }
  //create a mixin for that
  &#BBC1 {
    color: $bbc1;
    svg.gel-icon-iplayer-radio {
      fill: $bbc1;
    }
    border: 2px solid $bbc1;
    &:hover {
      background-color: $bbc1;
    }
  }
  &#BBC2 {
    color: $bbc2;
    svg.gel-icon-iplayer-radio {
      fill: $bbc2;
    }
    border: 2px solid $bbc2;
    &:hover {
      border: 5px solid $bbc2;
      background-color: $bbc2;
    }
  }
  &#BBC3 {
    color: $bbc3;
    svg.gel-icon-iplayer-radio {
      fill: $bbc3;
    }
    border: 2px solid $bbc3;
    &:hover {
      background-color: $bbc3;
    }
  }
  &#BBC6 {
    color: $bbc6;
    border: 2px solid $bbc6;
    svg.gel-icon-iplayer-radio {
      fill: $bbc6;
    }
    &:hover {
      background-color: $bbc6;
    }
  }
}

svg.gel-icon-iplayer-radio {
  width: 16%;
  margin-right: 15px;
}
