.App {
  display: flex;
  flex-direction: column;
  align-items: center; }

.currentSong {
  color: green; }

.cover {
  height: 20vw;
  width: 20vw;
  margin-left: -40px; }

.playerContainer {
  display: flex;
  width: 60%;
  padding: 20px; }

.playlistPlayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%; }

.playlistContainer div {
  margin-bottom: 8px; }

.controllers {
  display: flex;
  flex-direction: column;
  width: 35%; }

.playerContainer,
.cover {
  border: 1px solid #ccc; }

.playlistContainer {
  padding: 20px;
  padding-top: 0px;
  height: 80%; }

.button {
  margin-top: 10px; }
